@import "src/styles.scss";

.list-wrapper {
  display: flex;
  justify-content: flex-start;
}
.list-container {
  margin-top: 50px;
  width: 50%;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.43);
  @include glass;
}

.item-details {
  margin-left: 20px;
  width: 50%;
  height: 300px;
}
