@import "src/styles.scss";

.list-wrapper {
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: max-content;
}
.list-container {
  @extend .container;

  position: relative;
  transition: all .3s linear;

  &.veiled {
    filter: opacity(0.2);
  }
}

.item-details {
  margin-left: 20px;
  width: 50%;
  height: 300px;
}
