h1,
span {
  display: block;
  text-align: center;
  font-weight: normal;
}

.page-wrapper {
  margin: 50px auto;
  padding: 20px;
  width: 500px;
  background: #f5f5f5;
  border: 1px solid #e2e2e2;
}

.button-container {
  text-align: center;
  margin: 20px;
}

.bright-text {
  display: inline;
  font-weight: bold;
  background: -webkit-linear-gradient(-45deg, #5b0cac, #b411ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color-spin 10s linear infinite;
}

@keyframes color-spin {
  0% {
    filter: hue-rotate(0deg);
  } 50% {
    filter: hue-rotate(180deg);
  } 100% {
    filter: hue-rotate(360deg);
  }
}
