h1,
span {
  display: block;
  text-align: center;
  font-weight: normal;
}

.button-container {
  text-align: center;
  margin: 20px;
}

@keyframes color-spin {
  0% {
    filter: hue-rotate(0deg);
  } 50% {
    filter: hue-rotate(180deg);
  } 100% {
    filter: hue-rotate(360deg);
  }
}
