h1,
span {
  display: block;
  text-align: center;
}

.page-wrapper {
  margin: 50px auto;
  padding: 20px;
  width: 500px;
  background: #f5f5f5;
  border: 1px solid #e2e2e2;
}

.button-container {
  text-align: center;
  margin: 20px;
}

.cool-button {
  padding: 10px 15px;
  background: linear-gradient(-45deg, #770ccb, #e211d9);
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease-in-out;
  &:hover {
    background: linear-gradient(-45deg, #5b0cac, #b411ab);
  }
}

.bright-text {
  display: inline;
  background: -webkit-linear-gradient(-45deg, #5b0cac, #b411ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color-spin 10s linear infinite;
}

@keyframes color-spin {
  0% {
    filter: hue-rotate(0deg);
  } 50% {
    filter: hue-rotate(180deg);
  } 100% {
    filter: hue-rotate(360deg);
  }
}
