@import "./src/styles";

h1,
span {
  display: block;
  text-align: center;
  font-weight: normal;
}

.button-container {
  text-align: center;
  margin: 20px;
}


.header {
  font-size: 120px;
  font-family: $font-header;
}
