body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.centrifier {
  max-width: 100%;
  margin: 0 auto;
}

.title {
  font-family: Verdana, sans-serif;
  font-size: 10rem;
  color: #dedede;
  position: absolute;
}

canvas {
  position: absolute;
  border: 1px solid black;
  box-sizing: border-box;
}
#face {
  display: none;
}
