.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navbar ul {
  padding-left: 0;
  display: inline-flex;

  li {
    list-style: none;
    font-size: 16px;
    margin-left: 16px;
    cursor: pointer;

    a {
      color: #0f56b3;
      font-size: 18px;
      text-decoration: none;
      transition: all .2s ease-in-out;

      &:hover {
        color: darken(#0f56b3, 10%);
      }
    }

    #game {
      color: #008515;
    }
    #rain {
      color: #b39f1d;
    }

    &:first-of-type {
      margin-left: 0;
    }
  }
}
