<div class="centrifier">
  <div *ngIf="showContent" class="navBar">
    <ul>
      <li><a [routerLink]="['/welcome']" (click)="voiceResponse()">Home</a></li>
      <li *ngIf="loggedIn"><a [routerLink]="['/list']" (click)="voiceResponse()">Task List</a></li>
      <li *ngIf="loggedIn"><a [routerLink]="['add']" (click)="voiceResponse()">Add task</a></li>
    </ul>
  </div>

  <ul *ngIf="showContent" class="logIn">
    <li *ngIf="loggedIn; else login">
      <a [routerLink]="['myaccount']">My account</a>
      <a (click)="logOut()">Logout</a>
    </li>
    <ng-template #login>
      <li><a [routerLink]="['register']" (click)="voiceResponse()">Register</a></li>
      <li><a [routerLink]="['signin']" (click)="voiceResponse()">Sign in</a></li>
    </ng-template>
  </ul>
</div>
