@import "./src/styles";

.navBar {
  display: inline-flex;
  justify-content: space-between;
  padding: 0 20px;
}

.navBar ul,
.logIn {
  padding-left: 0;
  padding-top: 5px;
  display: inline-flex;

  li {
    list-style: none;
    cursor: pointer;

    a {
      color: $color-type-primary;
      font-size: 14px;
      margin-left: 16px;
      position: relative;
      text-decoration: none;
      padding-bottom: 5px;
      transition: all .2s ease-in-out;
      &:hover {
        border-bottom: 4px solid $color-type-primary;
      }
    }

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.logIn {
  position: absolute;
  right: 0;
}
