.navBar {
  display: inline-flex;
  justify-content: space-between;
  padding: 0 20px;
}

.navBar ul,
.logIn {
  padding-left: 0;
  display: inline-flex;

  li {
    list-style: none;
    margin-left: 16px;
    cursor: pointer;

    a {
      color: #ffffff;
      font-size: 14px;
      position: relative;
      text-decoration: none;
      transition: all .2s ease-in-out;

      &:hover:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 7px 7px 0 0;
        background-color: #fff;
        bottom: -21px;
      }
    }

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.logIn {
  position: absolute;
  right: 0;
}
