.spinner {
  background: url(src/assets/images/spinner.gif) center no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
