@import "./src/styles";

input {
  margin-bottom: 20px;
}

.search-btn {
  width: 30px;
  height: 30px;
  background: url('/assets/images/search.png') center no-repeat;
  background-size: 40%;
  border: none;
  position: absolute;
  right: 3px;
  top: 3px;
  cursor: pointer;
  border-radius: 50%;
  transition: all .2s linear;
  &:hover {
    background-color: $border-color-primary;
  }
}

.cancel-btn {
  @extend .search-btn;
  background: url('/assets/images/cancel.png') center no-repeat;
  background-size: 70%;
}

.searchbar-container {
  position: relative;
  display: inline-block;
}

span {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

button {
  font-size: 16px;
}
