@import "./src/styles";

input {
  margin-bottom: 20px;
  font-size: 18px;
  width: 300px;
  padding: 5px;
}

.input-rounded {
  border-radius: 20px 0 0 20px;
  border: 1px solid $border-color-primary;
}

.btn-rounded {
  border-radius: 50%;
  width: 37px;
  height: 37px;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
  color: #fff;
  background: $gradient-main;
  transform: translateY(-1px);
  transition: all .3s ease-in-out;
  border: none;
  &:hover {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.7);
  }
}

span {
  display: block;
  font-size: 14px;
  font-weight: bold;
}
button {
  font-size: 16px;
}
