@import "./src/styles";

.task-details {
  @extend .container;

  .task-details--title {
    margin: 0 0 10px 0;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  }
  input,
  textarea,
  button {
    margin-bottom: 20px;
    font-size: 16px;
  }
  input {
    width: 100%;
  }
  label {
    display: block;
    font-size: 14px;
    font-weight: bold;
  }
  textarea {
    display: block;
    min-height: 100px;
    height: 200px;
    min-width: 100%;
    max-width: 100%;
  }
}

.button-container {
  text-align: center;
}
.navigation {
  margin: 0;
}
