

.task-details {
  padding: 20px;
  border-radius: 3px;
  background-color: darken(#fff, 5%);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.43);
  width: fit-content;
  margin: 50px;

  .task-details--title {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
  }
  input,
  textarea,
  button {
    margin-bottom: 20px;
    font-size: 16px;
  }
  input {
    width: 500px;
  }
  label {
    display: block;
    font-size: 14px;
    font-weight: bold;
  }
  textarea {
    display: block;
    height: 200px;
    min-width: 500px;
    max-width: 500px;
  }

}

.cool-button {
  padding: 10px 15px;
  background: linear-gradient(-45deg, #770ccb, #e211d9);
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease-in-out;
  &:hover {
    background: linear-gradient(-45deg, #5b0cac, #b411ab);
  }
}
