<div class="centrifier">
  <div class="page-wrapper">
    <h1 class="bright-text">MY ACCOUNT</h1>
    <div class="info-container">
      <div class="info-block">
        <span class="title">Email: </span><span>{{userData?.email}}</span>
      </div>
      <div class="info-block">
        <span class="title">Display name: </span>
        <span *ngIf="!userInfoEditable">{{userProfile.displayName}}</span>
        <input *ngIf="userInfoEditable" [(ngModel)]="userProfile.displayName" type="text"
               class="username-input" autofocus>

        <span class="interactive-text" *ngIf="!userInfoEditable" (click)="editProfile()">change display name </span>
        <span class="interactive-text" *ngIf="userInfoEditable" (click)="updateProfile()">OK</span>

      </div>

      <div class="info-block">
        <span class="title">Phone number: </span><span *ngIf="userData?.phoneNumber">{{userData?.phoneNumber}}</span>
      </div>
      <div class="info-block">
        <span class="title">Registered: </span><span>{{userData?.metadata.creationTime}}</span>
      </div>

      <div class="info-block change-password">
        <h3>Change password</h3>
        <h3 *ngIf="passwordIsUpdatedRecently" class="success-alert">Password updated successfully</h3>
        <h3 *ngIf="errorMessage.length > 0" class="error-alert">{{errorMessage}}</h3>
        <div class="input-field">
          <label class="title" for="oldPass">Old Password: </label>
          <input id="oldPass" type="password" [(ngModel)]="oldPasswordFieldValue" [ngClass]="{
            'error': errorMessage.length > 0 }" (focus)="checkForError()" >
        </div>

        <div class="input-field">
          <label class="title" for="newPass">New Password: </label>
          <input id="newPass" type="password" [(ngModel)]="newPasswordFieldValue" [ngClass]="{
            'error':errorMessage.length > 0 }" (focus)="checkForError()">
        </div>

        <button (click)="updatePassword(oldPasswordFieldValue, newPasswordFieldValue)" class="cool-button">OK </button>
      </div>

      <input type="text" [(ngModel)]="newEmail">
      <button (click)="updateEmail()">Update email</button>
    </div>
  </div>
</div>
