<!--<div class="login-form">-->

<!--  <h2> Enter your creds </h2>-->

<!--  <form [formGroup]="loginForm" (ngSubmit)="logIn()" *ngIf="!checkToken()">-->
<!--    <label>-->
<!--      Login:-->
<!--      <input type="text" formControlName="login">-->
<!--    </label>-->
<!--    <label>-->
<!--      Password:-->
<!--      <input type="password" formControlName="password">-->
<!--    </label>-->

<!--    <button class="cool-button" type="submit" [disabled]="!loginForm.valid">Submit</button>-->
<!--  </form>-->
<!--</div>-->

<div class="login-form" *ngIf="afAuth.user | async as user; else loginFrm">
    <h1>WElcome user!</h1>
</div>

<!--<h1 *ngIf="checkToken()">WElcome!!!!</h1>-->
<ng-template #loginFrm>
  <div class="login-form">
  <h2> Enter your creds </h2>

  <form [formGroup]="loginForm" (ngSubmit)="this.signUp()">
    <label>
      Login:
      <input type="email" formControlName="email">
    </label>
    <label>
      Password:
      <input type="password" formControlName="password">
    </label>

    <button class="cool-button" type="submit" [disabled]="!loginForm.valid">Register</button>
  </form>
  </div>
</ng-template>
