#headerBar {
  background: linear-gradient(-68deg, #550098, #00b164, #b931b5);
  padding: 0;
  animation: color-spin 10s linear infinite;
  box-shadow: 0 5px 20px 0px red;
}

#navBar {
  background-color: #317dbe;
  padding: 20px 0 20px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

.footer {
  background: #455156;
  color: #fff;
  min-height: 20px;
  position: absolute;
  width: 100%;
  bottom: 0;

  .footer-text {
    display: block;
    font-size: 12px;
    padding: 0 20px;
    text-align: right;
  }
}


