#headerBar {
  background-color: #815bb3;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,.25);

  img {
    margin-left: 10px;
  }
  .header {
    display: flex;
    align-items: center;
  }
}

.footer {
  background: #455156;
  color: #fff;
  min-height: 20px;
  position: absolute;
  width: 100%;
  bottom: 0;

  .footer-text {
    display: block;
    font-size: 12px;
    padding: 0 20px;
    text-align: right;
  }
}
