@import "./src/styles";

#headerBar {
  background: $gradient-main;
  height: 20px;
}

.footer {
  color: $color-type-primary;
  min-height: 20px;
  position: absolute;
  width: 100%;
  bottom: 0;

  .footer-text {
    display: block;
    font-size: 12px;
    padding: 0 20px;
    text-align: right;
  }
}


