/* You can add global styles to this file, and also import other style files */
$font-header: 'Roboto Condensed', sans-serif;
$font-type: 'Open Sans', sans-serif;
$gradient-main: linear-gradient(-45deg, #2d2c2e, #404146);
$gradient-secondary: linear-gradient(-45deg, #aca8e0, #525589);
$color-type-primary: #38393d;
$border-color-primary: #e2e2e2;

* {
  font-family: $font-type;
  margin: 0;
  padding: 0;
}

.centrifier {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

body {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  background-color: #f5f5f5;
}

#Logo {
  margin-left: 20px;
}

.cool-button {
  padding: 10px 15px;
  background: $gradient-main;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 17px;
  letter-spacing: 2px;
  font-family: $font-header;
  cursor: pointer;
  text-decoration: none;
  width: max-content;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  &:hover:not(:disabled) {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.7);
  }
  &:disabled {
    filter: grayscale(1) opacity(0.5);
  }
  &.rounded {
    border-radius: 20px;
  }
  &.txt-small {
    font-size: 12px;
  }
}

.bright-text {
  display: inline;
  font-weight: bold;
  background: $gradient-secondary;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-wrapper {
  margin: 50px auto;
  padding: 20px;
  width: 100%;
  min-height: calc(100vh - 190px);
}

.simple-button {
  @extend .cool-button;
  background: transparent;
  box-shadow: inset 0 0 0 2px $color-type-primary;
  color: $color-type-primary;
  transition: all .1s ease-in-out;

  &:hover {
    background-color: $color-type-primary;
    color: #fff;
    box-shadow: none;
  }
}

.c-c-v {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-message {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #fb5035;
  border: 1px solid #fb5035;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.o-d {
  outline: none;
}

@mixin glass {
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(3px);
}

@keyframes scrollBg {
  0% {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  } 50% {
    background-position: 0 1000%;
    filter: hue-rotate(360deg);
  } 100% {
     background-position: 0 0;
     filter: hue-rotate(0deg);
  }
}

@keyframes color-spin {
  0% {
    filter: hue-rotate(0deg);
  } 50% {
    filter: hue-rotate(180deg);
  } 100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes flash {
  0% {
    filter: sepia(0);
  } 50% {
    filter: sepia(1);
  } 100% {
    filter: sepia(0);
  }
}
