/* You can add global styles to this file, and also import other style files */
$font-header: 'Roboto Condensed', sans-serif;
$font-type: 'Muli', sans-serif;
$gradient-main: linear-gradient(-45deg, #5f3c82, #404146);
$gradient-color-one: #aca8e0;
$gradient-color-two: #525589;
$gradient-secondary: linear-gradient(-45deg, $gradient-color-one, $gradient-color-two);
$color-type-primary: #38393d;
$border-color-primary: #e2e2e2;

* {
  font-family: $font-type;
  margin: 0;
  padding: 0;
  color: $color-type-primary;
}

.centrifier {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.container {
  width: 500px;
  max-width: 100%;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 50px;
  padding: 20px;
  background-color: darken(#fff, 5%);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.43);
}

body {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  background-color: #f5f5f5;
}

#Logo {
  margin-left: 20px;
}

.cool-button {
  padding: 15px 25px;
  background: $gradient-main;
  border: none;
  border-radius: 2rem;
  color: #efe7ef;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: $font-type;
  cursor: pointer;
  text-decoration: none;
  width: max-content;
  transition: all .3s linear;
  &:hover:not(:disabled) {
    box-shadow: 0 0 10px rgba(85, 14, 86, 0.45), 0 0 3px rgba(85,14,86,.2);
  }
  &:disabled {
    filter: grayscale(1) opacity(0.5);
  }
  &.rounded {
    border-radius: 20px;
  }
  &.plus {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &:before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      background: url("/assets/images/plus_icon.svg") center no-repeat;
      background-size: contain;
      margin-right: 15px;
    }
  }
  &.submit {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &:before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      background: url("/assets/images/submit.svg") center no-repeat;
      background-size: contain;
      margin-right: 15px;
    }
  }
  &.txt-small {
    font-size: 12px;
  }
}

.bright-text {
  font-weight: bold;
  background: $gradient-secondary;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-wrapper {
  margin: 50px auto;
  padding: 20px;
  width: 100%;
  min-height: calc(100vh - 190px);
}

.simple-button {
  @extend .cool-button;
  background: transparent;
  color: $color-type-primary;
  border: 2px solid $color-type-primary;
  transition: all .3s linear;
  padding: 5px 15px;

  &:hover {
    background-color: darken(#fff, 20%);
    box-shadow: none !important;
  }
}

.c-c-v {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-message {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #fb5035;
  border: 1px solid #fb5035;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.o-d {
  outline: none;
}

input {
  font-size: 14px;
  width: 300px;
  padding: 5px;
  box-sizing: border-box;

  &.input-rounded {
    border-radius: 20px;
    height: 36px;
    padding: 5px 10px;
    border: 1px solid $border-color-primary;
  }
  &.controls {
    padding: 5px 37px 5px 15px;
  }
}

.navigation {
  margin-bottom: 20px;

  .nav-back {
    display: inline-block;
    color: #3c63be;
    font-style: italic;
    text-decoration: none;
    cursor: pointer;
    transition: all .1s ease;
  }
}

@mixin glass {
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(3px);
}

@keyframes scrollBg {
  0% {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  } 50% {
    background-position: 0 1000%;
    filter: hue-rotate(360deg);
  } 100% {
     background-position: 0 0;
     filter: hue-rotate(0deg);
  }
}

@keyframes color-spin {
  0% {
    filter: hue-rotate(0deg);
  } 50% {
    filter: hue-rotate(180deg);
  } 100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes flash {
  0% {
    filter: sepia(0);
  } 50% {
    filter: sepia(1);
  } 100% {
    filter: sepia(0);
  }
}
