/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.centrifier {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

html {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}


@mixin glass {
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(3px);
}

@keyframes scrollBg {
  0% {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  } 50% {
    background-position: 0 1000%;
    filter: hue-rotate(360deg);
  } 100% {
     background-position: 0 0;
     filter: hue-rotate(0deg);
  }
}
