<ul class="task-list">
  <li *ngIf="taskListData?.length === 0" class="no-tasks-msg">No tasks</li>
  <li *ngFor="let task of taskListData" class="task">
    <div class="o-d" [routerLink]="['/list', task.id]">
    <div class="task--description">

      <a class="task--name">{{task.name}}</a>
    </div>

    <div>
      <div class="task--info">
        <span> description: </span><span>{{task.details}}</span>
      </div>
    </div>

    </div>

    <div class="task--description-controls">
      <a (click)="deleteTask(task.id)" class="delete-marker"></a>
    </div>

  </li>
</ul>

<div class="button-container">
  <button class="cool-button plus" [routerLink]="['/add']">Add task</button>
</div>

