<ul class="task-list">
  <li *ngFor="let task of taskList; let i = index" class="task">
    <div class="o-d" [routerLink]="['/list', task.id]">
    <div class="task--description">

      <a class="task--text">{{task.name}}</a>
    </div>

    <div>
      <div class="task--info">
        <span> description: </span><span>{{task.details}}</span>
      </div>

    </div>

    </div>

    <div class="task--description-controls">
      <a (click)="deleteTask(task.id)" class="delete-marker"></a>
    </div>

  </li>
</ul>
<button class="cool-button" [routerLink]="['/add']">ADD TASK</button>
