<ul class="task-list">
  <li *ngFor="let task of taskList; let i = index" class="task">
    <div class="task--description">

      <a [routerLink]="['/list', task.id]" class="task--text">{{task.name}}</a>
    </div>

    <div>
      <div class="task--info">
        <span>Description: </span><span >{{task.details}}</span>
      </div>
      <div class="task--info">
        <span>Date due: </span><span>no info</span>
      </div>

      <div class="task--description-controls">
        <a [routerLink]="['/list', task.id]" class="cool-button">details</a>
        <a (click)="remove(i)" class="delete-marker"></a>
      </div>
    </div>
  </li>
</ul>
