.task-list {
  background-color: #eceded;
  min-width: 300px;
  width: 100%;
  padding: 0;
  list-style: none;
  margin: 0;

  .task {
    padding: 10px;
    display: flex;
    max-width: 100%;
    flex-direction: column;

    &--description {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      width: 100%;
    }
    &--description-controls {
      display: flex;
      justify-content: flex-end;
    }
    &--info {
      font-size: .9rem;
      color: #455156;
      display: block;
      font-style: italic;
      margin-bottom: 5px;
    }
    &--text {
       text-decoration: none;
       color: #000;
       font-size: 18px;
       transition: all .3s ease;
       &:hover {
         color: lighten(#000, 20%);
       }
    }
    &--done-marker {
      color: #3c63be;
      font-style: italic;
      text-decoration: none;
      border: 1px solid #3c63be;
      border-radius: 10px;
      padding: 5px 10px;
      margin: 5px;
      cursor: pointer;
      transition: all .1s ease;
      &:active {
        animation: flash 1s linear;
      }
      &:hover {
        text-decoration: none;
        background-color: #3c63be;
        color: #fff;
      }
    }
    &:nth-child(2n) {
      background-color: #e1e5e5;
    }
  }
}


@keyframes flash {
  from {
    text-shadow: 0 0 1px white;
  } to {
    text-shadow: 0 0 5px white;
  } to {
    text-shadow: 0 0 1px white;
  }
}
