.task-list {
  background-color: #eceded;
  min-width: 300px;
  width: 100%;
  padding: 0;
  list-style: none;
  margin: 0;

  .task {
    padding: 10px;
    display: flex;
    max-width: 100%;
    position: relative;
    flex-direction: column;
    border: 1px solid #e2e2e2;

    &--description {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      width: 100%;
    }
    &--description-controls {
      display: flex;
      justify-content: flex-end;
    }
    &--info {
      font-size: .9rem;
      color: #455156;
      display: block;
      font-style: italic;
      margin-bottom: 5px;
    }
    &--text {
       text-decoration: none;
      font-weight: bold;
       color: #000;
       transition: all .3s ease;
       &:hover {
         color: lighten(#000, 20%);
       }
    }
    &:nth-child(2n) {
      background-color: #e1e5e5;
    }
  }
  .delete-marker {
    position: absolute;
    opacity: .2;
    top: 5px;
    right: 10px;
    padding: 5px;
    height: 5px;
    width: 5px;
    cursor: pointer;
    background: url('/assets/images/x.svg') center no-repeat;
    transition: opacity 150ms ease-in-out;

    &:hover {
      opacity: .4;
    }
  }
}
