@import "./src/styles";

.task-details {
  @extend .container;

  position: relative;

  .delete-marker {
    position: absolute;
    opacity: .2;
    top: 5px;
    right: 5px;
    padding: 10px;
    height: 5px;
    width: 5px;
    border: none;
    cursor: pointer;
    margin: 0;
    background: url('/assets/images/x.svg') center no-repeat;
    transition: opacity 150ms ease-in-out;

    &:hover {
      opacity: .4;
    }
  }

  .task-details--item {
    margin-top: 20px;
  }

  .task-details--title {
    margin: 5px 0 30px;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
  }
  .task-details--text {
    display: block;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
  }
  span.task-details--text {
    cursor: pointer;
  }
  .task-details--name {
    font-weight: bold;
  }
  textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #fbfbf7;
    outline: none;
  }
  .editor {
    display: flex;
    flex-direction: column;
  }
  .details--placeholder {
    color: #d2d2d2;
    font-style: italic;
  }
  .task-label {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #d2d2d2;
    padding: 0 5px;
  }
  &--controls {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
  }
}
button {
  margin: 10px 0;
}
