.task-details {
  padding: 20px;
  border-radius: 3px;
  background-color: darken(#fff, 5%);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.43);
  position: relative;
  margin: 50px;

  .delete-marker {
    position: absolute;
    opacity: .2;
    top: 5px;
    right: 5px;
    padding: 10px;
    height: 5px;
    width: 5px;
    border: none;
    cursor: pointer;
    background: url('/assets/images/x.svg') center no-repeat;
    transition: opacity 150ms ease-in-out;

    &:hover {
      opacity: .4;
    }
  }

  .navigation {
    margin-bottom: 20px;
  }

  .task-details--item {
    margin-top: 20px;
  }

  .nav-back {
    display: inline-block;
    color: #3c63be;
    font-style: italic;
    text-decoration: none;
    cursor: pointer;
    transition: all .1s ease;
  }

  .task-details--title {
    margin: 5px 0 30px;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
  }
  .task-details--text {
    display: block;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
  }
  span.task-details--text {
    cursor: pointer;
  }
  .task-details--name {
    font-weight: bold;
  }
  textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #fbfbf7;
    outline: none;
  }
  .ok-button {
    margin: 5px;
    border: none;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    align-self: flex-end;
    &:hover {
      background-color: #59cc6d;
      box-shadow: 0 0 6px rgba(0, 0, 0, .2), 0 0 2px 1px rgba(0, 0, 0, .1);
    }
  }
  .editor {
    display: flex;
    flex-direction: column;
  }
  .details--placeholder {
    color: #d2d2d2;
    font-style: italic;
  }
  .task-label {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #d2d2d2;
    padding: 0 5px;
  }
  &--controls {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;

    button {
      margin: 5px;
      border: none;
      font-size: 14px;
      padding: 5px 10px;
      cursor: pointer;
      transition: all .2s ease-in-out;
      &:hover {
        box-shadow: 0 0 6px rgba(0, 0, 0, .2), 0 0 2px 1px rgba(0, 0, 0, .1);
      }
    }
  }
}

.cool-button {
  padding: 10px 15px;
  background: linear-gradient(-45deg, #770ccb, #e211d9);
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease-in-out;
  &:hover {
    background: linear-gradient(-45deg, #5b0cac, #b411ab);
  }
}
